.header
{
    /* padding: 20px; */
    /* margin: 20px; */
    padding-top:35px;
    margin-left: 100px;
}
.header h1
{
    margin: 0;
    color: #F9FAFB;
    font-size: 40px;
    font-weight: 700;
}
.header p
{
    margin: 8px 0 0;
    color: #94A3B8;
    font-size: 15px;
    /* margin-top: 10px; */
}