.navbar
{
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 80px;
    box-sizing: border-box;
    background-color: #0B1015;
    border-bottom: 1px solid #1e293b;
}
.logo-section
{
    display: flex;
    align-items: center;
    gap: 8px;
}
.logo-section img
{
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 7px;
}
.logo-section h1
{
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    color: #E5E7EB;
}
.profile-section
{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 9px 4px 5px;
    border: 1px solid #243244;
    border-radius: 8px;
    background-color: #111827;
    cursor: pointer;
    transition: 0.2 ease;
}
.profile-section:hover
{
    background-color: #172033;
    border-radius: #334155;
}
.profile-section img
{
    width: 27px;
    height: 27px;
    object-fit:cover;
    border-radius: 50%;
}
.profile-section h2
{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    color: #cBD5E1;
}